{
    admin off
    auto_https off
}
:8080 {
    encode zstd gzip

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /app/* {
        root * /srv
        header Cache-Control "no-store"
        header X-Content-Type-Options "nosniff"
        file_server
    }

    handle /ui/* {
        root * /srv
        header Cache-Control "no-store"
        header X-Content-Type-Options "nosniff"
        file_server
    }

    handle / {
        redir /app/ 302
    }

    handle {
        respond "Not found" 404
    }
}
